@charset "UTF-8";

*{
    margin: 0PX;
    padding: 0PX;
    border: 0PX;
    font-family: sans-serif;
}

:root{
    --roxo: #42124c;
    --rosa: #fe0472;
    --verde: #8aff00;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo);
}

main{
    background-color: var(--rosa);
    padding: 20px;
    border-radius: 15px;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}

.resposta{
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #00000052;
    color: white;
    text-align: end;
    font-size: 1.5em;
    border-radius: 10px;
}

button{
    border: 2px solid black;
    padding: 10px 25px;
    background-color: var(--verde);
    border-radius: 10px;
}

button:hover{
    border-radius: 100%;
    color: white;
}